.error {
    color: white;
    background-color: lightcoral;
    border-radius: 0.5rem;
    border: 0.5px solid gray;
    width: 100%;
}

.def-nav {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.msg-box {
    min-height: 50vh;
    max-height: 50vh;
    margin-top: 5vh;
    border: 0.5px solid gray;
    border-radius: 0.5rem;
    padding: 5px;
    overflow-y: scroll;
}

.user-list-box {
    min-height: 25vh;
    max-height: 25vh;
    border: 0.5px solid gray;
    border-radius: 0.5rem;
    padding: 5px;
    overflow-y: scroll;
}

@media only screen and (min-width: 600px) {
    .loginBtn {
        min-width: 15vw;
        max-width: 15vw;
    }
}

@media only screen and (max-width: 601px) {
    .loginBtn {
        min-width: 30vw;
        max-width: 30vw;
    }
}

.loginBtn .btn {
    width: 100%;
}

.logoutBtn .btn {
    width: 100%;
}